main{
  /* background-color: #3774FF; */
  /* color: aquamarine; */
  filter: drop-shadow(0px 4px 4px rgba(213, 25, 25, 0.25));
}

body {
    font-family: Arial, Helvetica, sans-serif;
     background-color:linear-gradient( rgba(194.00000363588333, 109.00000110268593, 235.0000011920929, 1) ,rgba(225.00000178813934, 53.00000064074993, 191.00000381469727, 1) 46.35416567325592%,rgba(50.000000819563866, 5.000000176951289, 63.000000044703484, 1)) ; 
      /* background-color: #3774FF; */
    font-weight: bold;
    }
    
    img {
      border-radius: 50%;
    }
        .column .lyric .h2{
          font-size: 40px;
          margin-top: -10px;
        }
        .lyric {
          
          top: 0px;
          border-color: rgb(17, 2, 20);
          border-width: 5px;
          border-radius: 5px;
          height: 250px;
          overflow: hidden;
          width: 40%;
          text-align: center;
          margin-top: -550px;
          margin-right: 1px;
          font-size: xx-large;
      }
        .margin1{
          margin-top: 30px;
          margin-left: 20px;
        }
        .margin2{
          margin-top: 20px;
          margin-left: 20px;
        }
        .margin3{
          margin-top: 20px;
          margin-left: 20px;
        }
        .margin4{
          margin-top: 20px;
          margin-left: 20px;
        }
        .margin5{
          margin-top: 20px;
          margin-left: 20px;
        }
        .margin6{
          margin-top: 40px;
          margin-left: 20px;
        }
      
      .margin7{
        margin-top: 20px;
        margin-left: 20px;
      }
    
    .margin8{
      margin-top: 20px;
      margin-left: 20px;
    }
    .margin9{
      margin-top: 20px;
      margin-left: 20px;
    }
    .margin10{
      margin-top: 20px;
      margin-left: 20px;
    }
    .margin11{
      margin-top: 20px;
      margin-left: 20px;
    }
    .margin12{
      margin-top: 20px;
      margin-left: 20px;
    }
    .margin13{
      margin-top: 20px;
      margin-left: 20px;
    }
    .margin14{
      margin-top: 20px;
      margin-left: 20px;
    }
    .margin15{
      margin-top: 20px;
      margin-left: 20px;
    }
    
    .margin16{
      margin-top: 20px;
      margin-left: 20px;
    }
    .margin17{
      margin-top: 20px;
      margin-left: 20px;
    }
    .margin18{
      margin-top: 20px;
      margin-left: 20px;
    }
    .margin19{
      margin-top: 20px;
      margin-left: 20px;
    }
    .margin19{
      margin-top: 20px;
      margin-left: 20px;
    }

        .button {
            size: 0ch;
            border-radius: 10px;
            background-image:linear-gradient(0deg, rgba(194.00000363588333, 109.00000110268593, 235.0000011920929, 1) 0%,rgba(225.00000178813934, 53.00000064074993, 191.00000381469727, 1) 46.35416567325592%,rgba(50.000000819563866, 5.000000176951289, 63.000000044703484, 1) 100%) ;

            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 23px;
            /* padding: 10px; */
            margin-top: -10px;
            width: 10px;
            transition: all 0.5s;
            cursor: pointer;
            padding: 5px;
             /* margin: 5px;   */
        }
        
        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
        
        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
        
        .button:hover span {
            padding-right: 25px;
        }
        
        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
        .column1{
          float: right;
          width: 40%;
          padding: 10px;
          margin-top: -810px;
          margin-right: -220px;
          height: 900px; /* Should be removed. Only for demonstration */
          border-radius: 20px;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        .popular{
          float: left;
      width: 20%;
      padding: 10px;
      height: 700px; 
      border-radius: 20px;
    }

    .column2 {
      float: right;
      width: 100%;
      margin-top: -300px;
      margin-right:-1000px ;
      padding: 20px;
      height: 50px; 
      border-radius: 20px;
    }
    
    .column3 {
      float: right;
      width: 100%;
      margin-top: -60px;
      margin-right:-1000px ;
      padding: 20px;
      height: 50px; 
      border-radius: 20px;
    }
    
    .column4 {
      float: right;
      width: 100%;
      margin-top: -180px;
      margin-right:-1000px ;
      padding: 20px;
      height: 50px; 
      border-radius: 20px;
    }
    
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    .column {
      float: left;
      width: 20%;
      padding: 10px;
      height: 700px; 
      border-radius: 20px;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .player{
      height: 95vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  }
    .wrapper{
      border: 1px solid transparent;
      padding: 30px;
      margin-top: -1400px;
      margin-left: -200px;
      border-radius: 20px;
      background-color:linear-gradient(0deg, rgba(194.00000363588333, 109.00000110268593, 235.0000011920929, 1) 0%,rgba(225.00000178813934, 53.00000064074993, 191.00000381469727, 1) 46.35416567325592%,rgba(50.000000819563866, 5.000000176951289, 63.000000044703484, 1) 100%) ;

      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    
    .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }
    
    .track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    border:2px solid 	#FFFAFA;
    background-size: cover;
    background-position: 100px;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px black;
    -webkit-box-shadow: 0px 6px 5px black;
    box-shadow: 0px 6px 5px black;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
    }
    
    .now-playing {
    font-size: 1rem;
    }
    
    .track-name {
    font-size: 2.5rem;
    }
    
    .track-artist {
    margin-top: 5px;
    font-size: 1.5rem;
    }
    
    .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    }
    .active{
        color: black;
    }
    
    .repeat-track,
    .random-track,
    .playpause-track,
    .prev-track,
    .next-track {
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
    }
    
    .repeat-track:hover,
    .random-track:hover,
    .playpause-track:hover,
    .prev-track:hover,
    .next-track:hover {
    opacity: 1.0;
    }
    
    .slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .seek_slider, .vosl {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83A9FF;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
    
    
    .seek_slider::-webkit-slider-thumb,
    .vosl::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color:linear-gradient(0deg, rgba(194.00000363588333, 109.00000110268593, 235.0000011920929, 1) 0%,rgba(225.00000178813934, 53.00000064074993, 191.00000381469727, 1) 46.35416567325592%,rgba(50.000000819563866, 5.000000176951289, 63.000000044703484, 1) 100%) ;
    border: 3px solid #3774FF;
    cursor: grab;
    border-radius: 100%;
    }
    
    .seek_slider:hover,
    .vosl:hover {
    opacity: 1.0;
    }
    
    .seek_slider {
    width: 60%;
    }
    
    .vosl {
    width: 30%;
    }
    
    .cuti,
    .todu {
    padding: 10px;
    }
    
    i.fa-volume-down,
    i.fa-volume-up {
    padding: 10px;
    }
    
    i,
    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward,
    p {
    cursor: pointer;
    }
    .randomActive{
        color: black;
    }
    .rotate {
        animation: rotation 8s infinite linear;
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
    }
    .loader {
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .loader .stke{
        background: #f1f1f1;
        height: 150%;
        width: 10px;
        border-radius: 50px;
        margin: 0 5px;
        animation: animate 1.4s linear infinite;
    }
      @keyframes animate {
        50% {
          height: 20%;
          background-color:linear-gradient(0deg, rgba(194.00000363588333, 109.00000110268593, 235.0000011920929, 1) 0%,rgba(225.00000178813934, 53.00000064074993, 191.00000381469727, 1) 46.35416567325592%,rgba(50.000000819563866, 5.000000176951289, 63.000000044703484, 1) 100%) ;
        }
    
        100% {
          background-color:linear-gradient(0deg, rgba(194.00000363588333, 109.00000110268593, 235.0000011920929, 1) 0%,rgba(225.00000178813934, 53.00000064074993, 191.00000381469727, 1) 46.35416567325592%,rgba(50.000000819563866, 5.000000176951289, 63.000000044703484, 1) 100%) ;
          height: 100%;
        }
      }
      .stke:nth-child(1){
          animation-delay: 0s;
      }
      .stke:nth-child(2){
        animation-delay: 0.3s;
    }
    .stke:nth-child(3){
        animation-delay: 0.6s;
    }
    .stke:nth-child(4){
        animation-delay: 0.9s;
    }
    .stke:nth-child(5){
        animation-delay: 0.6s;
    }
    .stke:nth-child(6){
        animation-delay: 0.3s;
    }
    .stke:nth-child(7){
        animation-delay: 0s;
    }
    



    .dark{
      background-color: #2e3b23;
      /* color: #b02e2e; */
  }
  .change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}


@media (max-width: 768px) {
  .column {
    /* background-color: lightblue; */
    display: none;
  }
}